/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --app-bg: #fff;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 24px;
  --num-cards: 7;

  --red:#fc9671;
  --yellow: #efc743;
  --golden: #eaac1c;
  --mada: 'Mada', sans-serif;
  --merriweather: 'Merriweather', serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
